Source: backports-lzma
Maintainer: Peter Cock, based on work by Nadeem Vawda and Per Oyvind Karlsen <p.j.a.cock@googlemail.com>
Section: python
Priority: optional
Build-Depends: python-all-dev (>= 2.6.6-3), debhelper (>= 7), liblzma-dev
Standards-Version: 3.9.1

Package: python-backports.lzma
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: Backport of Python 3.3's 'lzma' module for XZ/LZMA compresse
 This is a backport of the 'lzma' module included in Python 3.3 or later
 by Nadeem Vawda and Per Oyvind Karlsen, which provides a Python wrapper for XZ Utils
 (aka LZMA Utils v2) by Igor Pavlov.
 .
 In order to compile this, you will need to install XZ Utils from http://tukaani.org/xz/
 .
